*{
    background-color: rgb(199, 166, 127);

}
table{
    border-collapse: collapse;
}
table,tr,th,td{
    border:solid 5px;

}
ul{
    list-style:disc;
}
ol{
    list-style: decimal;
}